@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: url(./assets/bgWhite.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
}

::-webkit-scrollbar-thumbhover {
    background: transparent;
}